@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #dcd7f8;
    --text-dark: #3f3b57;
    --text-light: #908ca3;
    --white: #ffffff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section-container {
    max-width: var(--max-width);
    padding: 5rem 1rem;
    margin: auto;
}

.section-subheader {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    text-align: center;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--text-dark);
    text-align: center;
    line-height: 3.5rem;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}

.nav-header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

.nav-logo a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-dark);
}

.nav-menu-btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    cursor: pointer;
}

.nav-links {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    transition: transform 0.5;
    z-index: -1;
}

.nav-links.open {
    transform: translateY(100%);
}

.nav-links a {
    font-weight: 500;
    color: var(--text-dark);
}

.nav-links a:hover {
    color: var(--primary-color);
}


header {
    padding-top: 5rem;
    position: relative;
    isolation: isolate;
    background-color: var(--primary-color);
}

.header-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: var(--white);
    z-index: -1;
}

.header-container {
    padding-block: 2rem 0;
    display: grid;
    gap: 2rem;
}

.header-content h4 {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
}

.header-content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--text-dark);
    text-align: center;
}

.header-content h1 span {
    font-size: 5rem;
}

.header-content h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    text-align: center;
}

.header-content p {
    margin-bottom: 2rem;
    color: var(--text-light);
    text-align: center;
}

.header-btn button {
    padding-block: .5rem;
    padding-inline: 1.5rem .5rem;
    margin-inline: auto;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5rem;
    transition: .3s;
    cursor: pointer;
}


.header-btn button span {
    padding: 5px 7px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}


.header-btn button:hover {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.4);
}

.header-btn button:hover span {
    background-color: rgba(0, 0, 0, 0.4);
}

.header-image {
    position: relative;
    isolation: isolate;
}

.header-image img {
    max-width: 400px;
    margin-inline: auto;
}

.intro-grid {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
}

.intro-card {
    text-align: center;
}

.intro-card div {
    max-width: fit-content;
    margin-inline: auto;
    margin-bottom: 1rem;
    padding: 2rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.intro-card div img {
    width: unset;
    height: 75px;
}

.intro-card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.intro-card p {
    margin-bottom: 2rem;
    color: var(--text-light);
}

.intro-card a {
    display: inline-block;
    padding: 0.5rem 2rem;
    border: 2px solid;
    border-radius: 5rem;
    transition: 0.3s;
}

.intro-card:nth-child(1) a {
    color: #ffc737;
    border-color: #ffc737;
}

.intro-card:nth-child(1) a:hover {
    color: var(--white);
    border-color: #ffc737;
}


.intro-card:nth-child(2) a {
    color: #257ae7;
    border-color: #257ae7;
}

.intro-card:nth-child(2) a:hover {
    color: var(--white);
    border-color: #257ae7;
}


.intro-card:nth-child(3) a {
    color: #cba9b6;
    border-color: #cba9b6;
}

.intro-card:nth-child(3) a:hover {
    color: var(--white);
    border-color: #cba9b6;
}

.about-row {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    overflow: hidden;
}

.about-row:nth-child(3) {
    margin-top: 4rem;
}

.about-image {
    flex: 1;
    max-width: 400px;
    margin-inline: auto;
}

.about-content {
    flex: 1;
    text-align: center;
}

.about-content span {
    margin-inline: auto;
    margin-bottom: 1rem;
    width: 80px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}


.about-content span img {
    max-width: 40px;
}

.about-row:nth-child(3) .about-content span {
    background-color: #fdf2d9;
}
.about-row:nth-child(4) .about-content span {
    background-color: #e8f7fe;
}
.about-row:nth-child(5) .about-content span {
    background-color: #fbebf1;
}

.about-content h4 {
    max-width: 450px;
    margin-inline: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-dark);
    line-height: 3rem;
}

.about-content p {
    max-width: 450px;
    margin-inline: auto;
    color: var(--text-light);
}

.client {
    background-color: var(--primary-color);
}

.swiper {
    margin-top: 4rem;
    width: 100%;
}

.swiper-slide {
    min-width: 375px;
}

.client-card {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    transition: 0.3s;
}

.client-details {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.client-details img {
    max-width: 50px;
    border-radius: 100%;
}

.client-details h4 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-dark);
}

.client-details h5 {
    font-weight: 500;
    color: var(--text-light);
}

.client-card p {
    color: var(--text-dark);
}

.footer-container {
    display: grid;
    gap: 4rem 2rem;
}

.footer-logo a {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--text-dark);
}

.footer-col h4 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
}

.footer-links {
    display: grid;
    gap: 1rem;
}

.footer-links a {
    font-weight: 500;
    color: var(--text-dark);
}

.footer-links a:hover {
    color: var(--primary-color);
}

.footer-col p {
    margin-bottom: 1rem;
    color: var(--text-dark);
}

.footer-col form {
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 5rem;
}

.footer-col form input {
    padding-inline: .5rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--text-dark);
    background-color: transparent;
}

.footer-col form button {
    padding: .25rem 1.5rem;
    outline: none;
    border: none;
    color: var(--text-dark);
    font-size: 2rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    cursor: pointer;
}

.footer-socials {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.footer-socials a {
    display: inline-block;
    padding: 5px 8px;
    font-size: 1.2rem;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border-radius: 100%;
}

.footer-bar {
    padding: 1rem;
    font-size: 1rem;
    color: var(--text-light);
    text-align: center;
}


@media (width > 540px) {
    .header-content h1 {
        font-size: 4.5rem;
        line-height: 5rem;
    }

    .header-content h1 span {
        font-size: 6rem;
    }

    .intro-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(2,1fr);
    }
}


@media (width > 768px){
    nav{
        position: static;
        padding: 2rem 1rem;
        max-width: var(--max-width);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .nav-header {
        padding: 0;
        background-color: transparent;
    }

    .nav-logo a {
        font-size: 1.5rem;
    }

    .nav-menu-btn {
        display: none;
    }

    .nav-links {
        position: static;
        padding: 0;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        transform: none;
    }


    header {
        padding-top: 0;
    }

    .header-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .header-content {
        grid-area: 1/2/2/3;
    }

    .header-content :is(h4, .header-btn button) {
        margin-inline-start: unset;
    }


    .header-content :is(h1, h2){
        text-align: left;
    }

    .header-content p {
        max-width: 400px;
        text-align: left;
    }

    .header-image img {
        max-width: 500px;
    }

    .intro-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-row {
        flex-direction: row;
        align-items: center;
    }

    .about-row:nth-child(4) {
        flex-direction: row-reverse;
    }

    .about-image {
        max-width: unset;
        margin-inline: auto;
    }

    .about-content {
        text-align: left;
    }

    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container {
        grid-template-columns: repeat(4, 1fr);
    }
}